<div class="d-flex justify-content-center mb-4">
  <div class="card mt-5" style="width: 40rem;">
    <div class="card-header text-center">
      <h2><%= yield :card_title %></h2>
    </div>
    <div class="card-body px-4">
      <%= form_with model: @product do |f| %>
        <%= render "shared/error_messages", obj: @product %>

        <div class="form-group">
          <% f.label :sku %><br>
          <%= f.text_field :sku, autofocus: true, class: "form-control p-2", placeholder: "SKU" %>
        </div>

        <div class="form-group">
          <% f.label :title %><br>
          <%= f.text_field :title, class: "form-control p-2", placeholder: "Title" %>
        </div>

        <div class="form-group">
          <%f.label :category %><br>
          <%= f.select :category, ["Drink", "Food", "Others"], {}, { class: "form-control p-2" } %>
        </div>
        
        <div class="form-group">
          <% f.label :price %><br>
          <%= f.number_field :price, min: 0, step: 1, class: "form-control p-2", placeholder: "Price (VND)" %>
        </div>

        <div class="form-group">
          <% f.label :quantity %><br>
          <%= f.number_field :quantity, in: 0..100, step: 1, class: "form-control p-2", placeholder: "Quantity" %>
        </div>

        <div class="form-group">
          <% f.label :image_url %><br>
          <%= f.text_field :image_url, class: "form-control p-2", placeholder: "Image URL" %>
        </div>

        <div class="actions mt-4 mb-2">
          <%= f.submit "Save product", class: "btn btn-success w-100 p-2" %>
        </div>
        <div class="text-center"><%= link_to "Cancel", products_path, class:"text-decoration-none text-success"%></div>
      <% end %>
    </div>
  </div>
</div>