<div class="mt-5">
  <div class="row">
    <div class="col-4 mt-4 ms-5">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, class:"mw-100" %>
      <% end %>
    </div>
    
    <div class="col-7 w-50 ms-5">
      <h1><%= @product.title %></h1>
      <p><b>SKU: &ensp;</b><%= @product.sku %></p>
      <p><b>Price: &ensp;</b><%= number_to_currency(@product.price, unit:"", precision: 0, delimiter:',') %> VND</p>
      <p><b>Category: &ensp;</b><%= @product.category %></p>

      <%= link_to "Add sizing", new_product_sizing_path(@product), class: "btn btn-outline-primary mb-4 p-2" %>

      <%= render 'sizings/sizings', product: @product %>
    </div>
  </div>
  <div style="position: fixed; bottom: 20px; right: 150px; z-index: 1">
    <%= link_to "<< Back to homepage", products_path, class: "btn btn-outline-success" %>
  </div>
</div>