<%= form_with model: [ @product, @product.sizings.build ] do |f| %>

  <%= f.radio_button :size_tag, "S" %>
  <%= f.label "Small"%>
  <%= f.radio_button :size_tag, "M", checked: true %>
  <%= f.label "Medium"%>
  <%= f.radio_button :size_tag, "L" %>
  <%= f.label "Large"%>
  <%= f.radio_button :size_tag, "XL" %>
  <%= f.label "Extra" %>

  <div class="form-group">
    <% f.label :quantity %><br>
    <%= f.number_field :quantity, min: 0, step: 1, placeholder: "Quantity" %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.submit "Save changes" %>
  </div>
<% end %>