<% if product.sizings.count > 0 %>
  <p><b>Size:</b></p>
  <div class="d-flex">
    <% product.sizings.each do |sizing| %>
      <div class="me-3">
        <% if sizing.image.attached? %>
          <%= image_tag sizing.image, width: 100, class:"mb-2" %>
        <% end %>
        <p><%= sizing.size_tag %> : <%= sizing.quantity %> (sp)</p>
        <%= link_to "Edit", [:edit, sizing.product, sizing], class:"text-decoration-none" %> |
        <%= link_to "Remove", [sizing.product, sizing], 
                          method: :delete,
                          data: { confirm: "Are you sure?" }, class:"text-decoration-none" %>
      </div>
    <% end %>
  </div> 
<% else %>
  <p><small><i>There is no options</i></small></p>
<% end %>