<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<% if logged_in? && @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
